{% extends 'base.html' %}

{% block content %}
  <h2>Weekly Meal Planner</h2>
  <form method="POST">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Days</th>
          <th>Recipe</th>
        </tr>
      </thead>
      <tbody>
        {% for day in days %}
        <tr>
          <td>{{ day }}</td>
          <td>
            <select name="{{ day }}" class="form-select">
              <option value="None">Select Recipe</option>
              {% for recipe in recipes %}
                <option value="{{ recipe.id }}" {% if plans.get(day) == recipe.id %}selected{% endif %}>{{ recipe.name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save the plan</button>
  </form>
{% endblock %}
